@import 'rules';

html, body {
  font-size: 1vh;
  line-height: 1.7vh;
}

.corner {
  width: 30vh;
  height: 30vh;
}

.corner span {
  bottom: 2vh;
  font-size: 4vh;
  line-height: 4vh;
}

#intro_corner {
  left: -15vh;
  top: -15vh;
}

#projects_corner {
  right: -15vh;
  top: -15vh;
}

#about_corner {
  left: -15vh;
  bottom: -15vh;
}

#contact_corner {
  right: -15vh;
  bottom: -15vh;
}

#homepage {
  width: 60vh;
  height: 58.1vh;
  top: 50%;
  margin-top: -(58.1vh)/2;
  left: 50%;
  margin-left: -30vh;
  font-size: 2.5vh;
  line-height: 3vh;
}

#homepage > div:nth-child(1) {
  font-size: 7vh;
  line-height: 9vh;
}

#homepage > div:nth-child(2) {
  width: 40vh;
  margin-left: -20vh;
}

#skills {
  top: 5vh;
  height: 23vh;
}

#target {
  width: 28vh;
  height: 28vh;
  margin-left: -14vh;
  margin-top: 4vh;
  font-size: 2.3vh;
}

#target > div > div {
  width: 1vh;
  margin: 0 auto;
}

#target > div:nth-child(1) {
  margin-top: 0;
}

#target > div:nth-child(5) > div {
  margin-top: 1vh;
}

.skill {
  width: 10.5vh;
  height: 10.5vh;
  font-size: 1.8vh;
  line-height: 9.9vh;
  border: .3vh solid $dark;
}

.skill:hover {
  width: 12.25vh;
  height: 12.25vh;
  font-size: 2.1vh;
  line-height: 11.65vh;
}

#html {
  top: 2vh;
  left: 6.5vh;
}

#css {
  bottom: -10.4vh;
  left: 6.1vh;
}

#javascript {
  bottom: -21.1vh;
  margin-left: -5.25vh;
}

#javascript:hover {
  margin-left: -6.125vh;
}

#jquery {
  top: 2vh;
  right: 6.5vh;
}

#angular {
  bottom: -10.4vh;
  right: 6.1vh;
}

.arrow {
  width: 12.25vh;
}

#top_left {
  top: -5vh;
  left: 3vh;
}

#bottom_left {
  bottom: -16vh;
  left: 0;
}

#bottom {
  bottom: -30vh;
  margin-left: -6.125vh;
}

#top_right {
  top: -7vh;
  right: 0;
}

#bottom_right {
  bottom: -15vh;
  right: 0;
}

.pointer {
  width: 1.75vh;
  height: 1.75vh;
}

#tl {
  top: 17vh;
  left: 29.165vh;
}

#bl {
  bottom: 2.4vh;
  left: 25.4vh;
}

#b {
  bottom: -2.8vh;
  margin-left: -0.885vh;
}

#tr {
  top: 11.3vh;
  right: 21.5vh;
}

#br {
  bottom: -1.5vh;
  right: 17.85vh;
}

#description {
  width: 28vh;
  height: 28vh;
  margin-left: -14vh;
  margin-top: 4vh;
  font-size: 3.2vh;
  line-height: 3.9vh;
  padding: 10%;
}

.tab {
  width: 90vw;
  height: 70vh;
}

#intro {
  display: none;
  top: 15vh;
  left: 5vw;
}

.text div {
  text-align: justify;
  max-height: 58vh;
  font-size: 1.8vh;
  line-height: 2.5vh;
  margin: 6vh 6vw 6vh 6vw;
  overflow: auto;
  display: flex;
  align-items: center;
}

.text span {
  max-height: 58vh;
}

#projects {
  display: none;
  top: 15vh;
  right: 5vw;
}

#projects > div:nth-child(1) {
  font-size: 4.5vh;
  line-height: 4.5vh;
  max-height: 5vh;
}

#projects > div:nth-child(2) {
  max-height: 51vh;
  font-size: 2vh;
  line-height: 3vh;
}

.icon div {
  width: 80%;
}

.icon h4 {
  font-size: 2.5vh;
}

#about {
  display: none;
  bottom: 15vh;
  left: 5vw;
}

#contact {
  display: none;
  bottom: 5vh;
  right: 20vw;
}

/*
#disclaimer {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: $lightest;
  padding: 10%;
  overflow: auto;
}

#disclaimer h2 {
  font-size: 10em;
  line-height: 1em;
  text-align: center;
  font-family: 'Cinzel', serif;
  margin-bottom: 10%;
}

#disclaimer p {
  font-size: 5em;
  line-height: 1em;
}

#remover {
  cursor: pointer;
  text-decoration: underline;
}
*/
