@import 'rules';

* {
  margin: 0;
  padding: 0;
  outline: none;
  @include box-sizing(border-box);
}

*:after, *:before {
  @include box-sizing(border-box);
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
  display: block;
}

html {
  overflow-x: hidden;
  overflow-y: hidden;
}

html, body {
  font-size: 1vw;
  font-weight: 400;
  line-height: 1.7vw;
  min-height: 100%;
  display: inline-block;
  color: $dark;
  background-color: $dark;
}

body {
  font-family: 'Playfair Display', serif;
}

.clear {
  display: block;
}

.clear::after {
  clear: both;content: ".";
  display: block;
  height: 1px;
  visibility: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

#background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background: url("background.jpg") center center no-repeat;
  background-size: cover;
}

.corner {
  position: fixed;
  width: 20vw;
  height: 20vw;
  @include border-radius(50%);
  background-color: $lightest;
  cursor: pointer;
}

.one {
  @include corner();
  width: 80%;
  height: 80%;
  background-color: $lighter;
  margin-left: -40%;
  margin-bottom: -40%;
}

.two {
  @include corner();
  width: 60%;
  height: 60%;
  background-color: $light;
  margin-left: -30%;
  margin-bottom: -30%;
}

.three {
  @include corner();
  width: 40%;
  height: 40%;
  background-color: $medium;
  margin-left: -20%;
  margin-bottom: -20%;
}

.four {
  @include corner();
  width: 20%;
  height: 20%;
  background-color: $dark;
  margin-left: -10%;
  margin-bottom: -10%;
}

.corner img {
  width: 40%;
  height: auto;
  position: absolute;
  bottom: -50%;
  left: 50%;
  margin-left: -20%;
  display: none;
  cursor: pointer;
}

.corner span {
  position: absolute;
  width: 100%;
  bottom: 1.5vw;
  font-size: 3vw;
  text-align: center;
  vertical-align: bottom;
  line-height: 3vw;
  cursor: pointer;
  @include user-select(none);
}

#intro_corner {
  left: -10vw;
  top: -10vw;
  @include rotate(-45deg);
}

#projects_corner {
  right: -10vw;
  top: -10vw;
  @include rotate(45deg);
}

#about_corner {
  left: -10vw;
  bottom: -10vw;
  @include rotate(-135deg);
}

#about_corner > span {
  @include rotate(180deg);
}

#contact_corner {
  right: -10vw;
  bottom: -10vw;
  @include rotate(135deg);
}

#contact_corner span {
  @include rotate(180deg);
}

#homepage {
  position: fixed;
  width: 60vw;
  height: 37vw;
  top: 50%;
  margin-top: -(37vw)/2;
  left: 20vw;
  text-align: center;
  font-size: 1.5vw;
  line-height: 2.5vw;
  @include user-select(none);
  cursor: default;
}

#homepage > div:nth-child(1) {
  font-family: $titles;
  font-size: 7vw;
  line-height: 9vw;
}

#homepage > div:nth-child(2) {
  width: 20vw;
  position: absolute;
  left: 50%;
  margin-left: -10vw;
  line-height: 2.5vw;
}

#skills {
  position: relative;
  top: 5vw;
  height: 23vw;
}

#target {
  position: absolute;
  width: 16vw;
  height: 16vw;
  @include border-radius(50%);
  left: 50%;
  margin-left: -8vw;
  background-color: $lightest;
  font-size: 1.3vw;
  color: $darkest;
  @include user-select(none);
  cursor: default;
}

#target > div > div {
  width: 1vw;
  margin: 0 auto;
  margin-top: -.6vw;
}

#target > div:nth-child(1) {
  margin-top: -.7vw;
}

#target > div:nth-child(5) > div {
  margin-top: 0;
}

.skill {
  transition: 0.3s linear;
  position: absolute;
  width: 6vw;
  height: 6vw;
  @include border-radius(50%);
  color: $dark;
  font-size: 1vw;
  line-height: 5.6vw;
  cursor: pointer;
  background: $lightest_transparent;
  border: .2vw solid $dark;
  font-weight: bold;
}

.skill:hover {
  width: 7vw;
  height: 7vw;
  font-size: 1.2vw;
  line-height: 6.6vw;
  background: $lightest;
}

#skill1 {
  top: -1vw;
  left: 16.5vw;
}

#skill2 {
  bottom: 6vw;
  left: 16.5vw;
}

#skill3 {
  bottom: 0.1vw;
  left: 50%;
  margin-left: -3vw;
}

#skill3:hover {
  margin-left: -3.5vw;
}

#skill4 {
  top: -1vw;
  right: 16.5vw;
}


#skill5 {
  bottom: 6vw;
  right: 16.5vw;
}

.arrow {
  width: 7vw;
  height: auto;
  position: absolute;
  display: none;
}

#top_left {
  top: -10vw;
  left: 8vw;
  @include rotate(130deg);
}

#bottom_left {
  bottom: -2vw;
  left: 5vw;
  @include rotate(55deg);
}

#bottom {
  bottom: -9vw;
  left: 50%;
  margin-left: -3.5vw;
}

#top_right {
  top: -10vw;
  right: 8vw;
  @include rotate(228deg);
}

#bottom_right {
  bottom: -2vw;
  right: 5vw;
  @include rotate(305deg);
}

.pointer {
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  position: absolute;
  @include user-select(none);
  cursor: pointer;
  background-color: $dark;
  display: none;
}

#tl {
  top: 7.45vw;
  left: 29.55vw;
  background-color: $darker;
}

#bl {
  bottom: 14vw;
  left: 27.25vw;
}

#b {
  bottom: 10.5vw;
  left: 50%;
  margin-left: -0.5vw;
}

#tr {
  top: 4.8vw;
  right: 24.6vw;
}

#br {
  bottom: 9.95vw;
  right: 23.85vw;
}

#description {
  position: absolute;
  width: 16vw;
  height: 16vw;
  @include border-radius(50%);
  left: 50%;
  margin-left: -8vw;
  background-color: $lightest;
  font-size: 1.3vw;
  padding: 7% 6% 7% 6%;
  transition: 0.8s linear;
  opacity: 0;
}

#description:hover {
opacity: 1;
transition: 0.8s linear;
}

.tab {
  position: absolute;
  width: 60vw;
  height: 90vh;
  background-color: $lightest_transparent;
  @include border-radius(10vw);
}

#intro {
  display: none;
  top: -90vh;
  left: -60vw;
}

.text div {
  text-align: justify;
  height: 78vh;
  font-size: 1.2vw;
  margin: 6vh 6vw 6vh 6vw;
  overflow: auto;
  display: flex;
  align-items: center;
}

.text span {
  max-height: 78vh;
}

.text div::-webkit-scrollbar {
  width: 3%;
  background-color: $lightest;
}

.text div::-webkit-scrollbar-thumb {
  background-color: $dark;
}

.text div::-ms-scrollbar {
  width: 3%;
  background-color: $lightest;
}

.text div::-ms-scrollbar-thumb {
  background-color: $dark;
}

.text div::-moz-scrollbar {
  width: 3%;
  background-color: $lightest;
}

.text div::-moz-scrollbar-thumb {
  background-color: $dark;
}

.text div::-o-scrollbar {
  width: 3%;
  background-color: $lightest;
}

.text div::-o-scrollbar-thumb {
  background-color: $dark;
}

.text div::-scrollbar {
  width: 3%;
  background-color: $lightest;
}

.text div::-scrollbar-thumb {
  background-color: $dark;
}

#projects {
  top: -90vh;
  right: -60vw;
  display: none;
}

#projects > div:nth-child(1) {
  text-align: center;
  font-size: 5vh;
  line-height: 5vh;
  margin: 2vh 0 1vh 0;
  max-height: 10vh;
}

#projects > div:nth-child(2) {
  text-align: center;
  margin: 6vh 6vw 6vh 6vw;
  overflow: auto;
  max-height: 70vh;
  font-size: 2.4vh;
  line-height: 3.4vh;
  display: block;
}

#projects > div:nth-child(2)::-webkit-scrollbar {
  width: 3%;
  background-color: $lightest;
}

#projects > div:nth-child(2)::-webkit-scrollbar-thumb {
  background-color: $dark;
}

#projects > div:nth-child(2)::-ms-scrollbar {
  width: 3%;
  background-color: $lightest;
}

#projects > div:nth-child(2)::-ms-scrollbar-thumb {
  background-color: $dark;
}

#projects > div:nth-child(2)::-moz-scrollbar {
  width: 3%;
  background-color: $lightest;
}

#projects > div:nth-child(2)::-moz-scrollbar-thumb {
  background-color: $dark;
}

#projects > div:nth-child(2)::-o-scrollbar {
  width: 3%;
  background-color: $lightest;
}

#projects > div:nth-child(2)::-o-scrollbar-thumb {
  background-color: $dark;
}

#projects > div:nth-child(2)::-scrollbar {
  width: 3%;
  background-color: $lightest;
}

#projects > div:nth-child(2)::-scrollbar-thumb {
  background-color: $dark;
}

.icon {
  display: inline-block;
  width: 90%;
  overflow: hidden;
}

.icon div {
  width: 47%;
  margin: 1% auto;
  display: inline-block;
  vertical-align: middle;
  text-align: justify;
  padding: 0 2% 0 2%;
}

.icon div:nth-child(1) {
  padding: 0;
}

.icon img {
  width: 100%;
  height: auto;
  display: inline-block;
}

.icon h4 {
  font-size: 3vh;
  text-align: center;
  font-family: $titles;
}

#about {
  bottom: -90vh;
  left: -60vw;
  display: none;
}

#contact {
  bottom: -90vh;
  right: -60vw;
  display: none;
}
