* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
  display: block;
}

html {
  overflow-x: hidden;
  overflow-y: hidden;
}
html, body {
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font-size: 1.05em;
  font-weight: 400;
  line-height: 1.6rem;
  min-height: 100%;
  display: inline-block;
  color: rgb(50, 50, 100);
  -webkit-text-size-adjust:none;
  -ms-text-size-adjust:none;
  -moz-text-size-adjust:none;
  -o-text-size-adjust: none;
  text-size-adjust:none;
}

.clear {
  display: block;
}

.clear::after {
  clear: both;content: ".";
  display: block;
  height: 1px;
  visibility: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

#background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgb(150, 200, 255);
}

#mountain_one {
  position: fixed;
  width: 0;
  height: 0;
  left: 35vw;
  bottom: 10vh;
  border-left: 45vw solid transparent;
  border-right: 45vw solid transparent;
  border-bottom: 80vh solid rgb(6, 113, 163);
}

#snow_one {
  position: fixed;
  width: 0;
  height: 0;
  left: 68.75vw;
  bottom: 70.3vh;
  border-left: 11.3vw solid transparent;
  border-right: 11.3vw solid transparent;
  border-bottom: 20vh solid rgb(255, 255, 255);
  border-radius: 50%;
}

#mountain_two {
  position: fixed;
  width: 0;
  height: 0;
  left: -20vw;
  bottom: 10vh;
  border-left: 45vw solid transparent;
  border-right: 45vw solid transparent;
  border-bottom: 105vh solid rgb(7, 139, 201);
}

#snow_two {
  position: fixed;
  width: 0;
  height: 0;
  left: 9.8vw;
  bottom: 79.8vh;
  border-left: 15.2vw solid transparent;
  border-right: 15.2vw solid transparent;
  border-bottom: 35.2vh solid rgb(255, 255, 255);
}

#a {
  position: fixed;
  width: 0;
  height: 0;
  left: 10vw;
  bottom: 75.4vh;
  border-left: 5vw solid transparent;
  border-right: 5vw solid transparent;
  border-top: 5vh solid rgb(255, 255, 255);
}

#b {
  position: fixed;
  width: 0;
  height: 0;
  left: 20vw;
  bottom: 65.1vh;
  border-left: 10vw solid transparent;
  border-right: 10vw solid transparent;
  border-top: 15vh solid rgb(255, 255, 255);
}

#hills {
  position: fixed;
  width: 90vh;
  height: 90vh;
  left: 50vw;
  bottom: -30vh;
}
#hill_one {
  position: absolute;
  border-radius: 50%;
  width: 80%;
  height: 80%;
  left: 10%;
  bottom: 5%;
  background-color: rgb(4, 69, 99);
}

#hill_two {
  position: absolute;
  border-radius: 50%;
  width: 45%;
  height: 45%;
  left: 2.5%;
  bottom: 25%;
  background-color: rgb(8, 157, 227);
}

#hill_three {
  position: absolute;
  border-radius: 50%;
  width: 60%;
  height: 60%;
  right: 2.5%;
  bottom: 15%;
  background-color: rgb(7, 139, 201);
}

#grass {
  width: 100vw;
  height: 20vh;
  bottom: 0;
  background-color: rgb(8, 166, 240);
  position: fixed;
}

#target {
  position: fixed;
  width: 15vh;
  height: 20vh;
  left: 30vw;
  top: 70vh;
}

#stand {
  position: absolute;
  width: 0;
	height: 0;
  bottom: 0;
  left: 50%;
  margin-left: -7.5vh;
	border-left: 7.5vh solid transparent;
	border-right: 7.5vh solid transparent;
	border-bottom: 20vh solid rgb(6, 113, 163);
}

#space {
  position: absolute;
  width: 0;
  height: 0;
  bottom: -0.1vh;
  left: 50%;
  margin-left: -5.5vh;
  border-left: 5.5vh solid transparent;
  border-right: 5.5vh solid transparent;
  border-bottom: 16vh solid rgb(8, 166, 240);
}

#one {
  position: absolute;
  top: 2vh;
  width: 15vh;
  height: 15vh;
  left: 50%;
  margin-left: -7.5vh;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}

#two {
  position: absolute;
  top: 3.5vh;
  width: 12vh;
  height: 12vh;
  left: 50%;
  margin-left: -6vh;
  border-radius: 50%;
  background-color: rgb(4, 69, 99);
}

#three {
  position: absolute;
  top: 5vh;
  width: 9vh;
  height: 9vh;
  left: 50%;
  margin-left: -4.5vh;
  border-radius: 50%;
  background-color: rgb(8, 157, 227);
}

#four {
  position: absolute;
  top: 6.5vh;
  width: 6vh;
  height: 6vh;
  left: 50%;
  margin-left: -3vh;
  border-radius: 50%;
  background-color: rgb(6, 113, 163);
}

#five {
  position: absolute;
  top: 8vh;
  width: 3vh;
  height: 3vh;
  left: 50%;
  margin-left: -1.5vh;
  border-radius: 50%;
  background-color: rgb(150, 200, 255);
}
