* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
  display: block;
}

html {
  overflow-x: hidden;
  overflow-y: hidden;
}
html, body {
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font-size: 1vw;
  font-weight: 400;
  line-height: 1.7vw;
  min-height: 100%;
  display: inline-block;
  color: rgb(148, 0, 4);
  background-color: rgb(94, 0, 27);
  -webkit-text-size-adjust:none;
  -ms-text-size-adjust:none;
  -moz-text-size-adjust:none;
  -o-text-size-adjust: none;
  text-size-adjust:none;
}

body {
  font-family: 'Playfair Display', serif;
}

.clear {
  display: block;
}

.clear::after {
  clear: both;content: ".";
  display: block;
  height: 1px;
  visibility: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

#background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background: url("background.jpg") center center no-repeat;
  background-size: cover;
}

.corner {
  position: fixed;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  background-color: rgb(254, 229, 147);
  cursor: pointer;
}

.one {
  position: absolute;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-color: rgb(255, 117, 56);
  left: 50%;
  margin-left: -40%;
  bottom: 50%;
  margin-bottom: -40%;
}

.two {
  position: absolute;
  width: 60%;
  height: 60%;
  border-radius: 50%;
  background-color: rgb(222, 66, 52);
  left: 50%;
  margin-left: -30%;
  bottom: 50%;
  margin-bottom: -30%;
}

.three {
  position: absolute;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  background-color: rgb(148, 0, 4);
  left: 50%;
  margin-left: -20%;
  bottom: 50%;
  margin-bottom: -20%;
}

.four {
  position: absolute;
  width: 20%;
  height: 20%;
  border-radius: 50%;
  background-color: rgb(94, 0, 27);
  left: 50%;
  margin-left: -10%;
  bottom: 50%;
  margin-bottom: -10%;
}

.corner > img {
  width: 40%;
  height: auto;
  position: absolute;
  bottom: -50%;
  left: 50%;
  margin-left: -20%;
  display: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
}

.corner > span {
  position: absolute;
  width: 100%;
  bottom: 1.5vw;
  font-size: 3vw;
  text-align: center;
  vertical-align: bottom;
  line-height: 3vw;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#intro_corner {
  left: -10vw;
  top: -10vw;
  -ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
  -moz-transform: rotate(-45deg); /* Firefox */
  -o-transform: rotate(-45deg); /* Opera */
  transform: rotate(-45deg);
}

#projects_corner {
  right: -10vw;
  top: -10vw;
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  -ms-transform: rotate(45deg); /* IE 9 */
  -moz-transform: rotate(45deg); /* Firefox */
  -o-transform: rotate(45deg); /* Opera */
  transform: rotate(45deg);
}

#about_corner {
  left: -10vw;
  bottom: -10vw;
  -webkit-transform: rotate(-135deg); /* Chrome, Safari, Opera */
  -ms-transform: rotate(-135deg); /* IE 9 */
  -moz-transform: rotate(-135deg); /* Firefox */
  -o-transform: rotate(-135deg); /* Opera */
  transform: rotate(-135deg);
}

#about_corner > span {
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  -ms-transform: rotate(180deg); /* IE 9 */
  -moz-transform: rotate(180deg); /* Firefox */
  -o-transform: rotate(180deg); /* Opera */
  transform: rotate(180deg);
}

#contact_corner {
  right: -10vw;
  bottom: -10vw;
  -webkit-transform: rotate(135deg); /* Chrome, Safari, Opera */
  -ms-transform: rotate(135deg); /* IE 9 */
  -moz-transform: rotate(135deg); /* Firefox */
  -o-transform: rotate(135deg); /* Opera */
  transform: rotate(135deg);
}

#contact_corner > span {
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  -ms-transform: rotate(180deg); /* IE 9 */
  -moz-transform: rotate(180deg); /* Firefox */
  -o-transform: rotate(180deg); /* Opera */
  transform: rotate(180deg);
}

#homepage {
  position: fixed;
  width: 60vw;
  top: 12vh;
  left: 20vw;
  text-align: center;
  font-size: 1.5vw;
  line-height: 2.5vw;
}

#homepage > div:nth-child(1) {
  font-family: 'Cinzel', serif;
  font-size: 7vw;
  line-height: 9vw;
}

#homepage > div:nth-child(2) {
  width: 20vw;
  position: absolute;
  left: 50%;
  margin-left: -10vw;
}

#skills {
  position: relative;
  top: 5vw;
  height: 23vw;
}

#target {
  position: absolute;
  width: 16vw;
  height: 16vw;
  border-radius: 50%;
  left: 50%;
  margin-left: -8vw;
  background-color: rgb(254, 229, 147);
  font-size: 1.3vw;
  color: rgb(54, 0, 37);
}

#target > div:nth-child(1) {
  width: 1vw;
  line-height: 1.2vw;
  margin-left: 7.5vw;
}

#target > div:nth-child(2) > div {
  width: 1vw;
  line-height: 1.2vw;
  margin-left: 5.9vw;
}

#target > div:nth-child(3) > div {
  width: 1vw;
  line-height: 1.2vw;
  margin-left: 4.3vw;
}

#target > div:nth-child(4) > div {
  width: 1vw;
  line-height: 1.2vw;
  margin-left: 2.7vw;
}

.skill {
  transition: 0.3s linear;
  position: absolute;
  width: 6vw;
  height: 6vw;
  border-radius: 50%;
  background-color: rgba(254, 229, 147, 0.7);
  font-size: 1.1vw;
  line-height: 5.6vw;
  color: rgb(148, 0, 4);
  cursor: pointer;
  background: rgba(254, 229, 147, 0.9);
  border: .2vw solid rgb(148, 0, 4);
  font-weight: bold;
}

.skill:hover {
  width: 7vw;
  height: 7vw;
  font-size: 1.2vw;
  line-height: 6.6vw;
  background: rgb(254, 229, 147);
}

#html {
  top: -1vw;
  left: 16.5vw;
}

#css {
  bottom: 6vw;
  left: 16.5vw;
}

#javascript {
  bottom: 0.1vw;
  left: 50%;
  margin-left: -3vw;
}

#javascript:hover {
  margin-left: -3.5vw;
}

#jquery {
  top: -1vw;
  right: 16.5vw;
}


#angular {
  bottom: 6vw;
  right: 16.5vw;
}

.arrow {
  width: 7vw;
  height: auto;
  position: absolute;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
  display: none;
}

#top_left {
  top: -10vw;
  left: 8vw;
  -webkit-transform: rotate(130deg); /* Chrome, Safari, Opera */
  -ms-transform: rotate(130deg); /* IE 9 */
  -moz-transform: rotate(130deg); /* Firefox */
  -o-transform: rotate(130deg); /* Opera */
  transform: rotate(130deg);
}

#bottom_left {
  bottom: -2vw;
  left: 5vw;
  -webkit-transform: rotate(55deg); /* Chrome, Safari, Opera */
  -ms-transform: rotate(55deg); /* IE 9 */
  -moz-transform: rotate(55deg); /* Firefox */
  -o-transform: rotate(55deg); /* Opera */
  transform: rotate(55deg);
}

#bottom {
  bottom: -9vw;
  left: 50%;
  margin-left: -3.5vw;
}

#top_right {
  top: -10vw;
  right: 8vw;
  -webkit-transform: rotate(228deg); /* Chrome, Safari, Opera */
  -ms-transform: rotate(228deg); /* IE 9 */
  -moz-transform: rotate(228deg); /* Firefox */
  -o-transform: rotate(228deg); /* Opera */
  transform: rotate(228deg);
}

#bottom_right {
  bottom: -2vw;
  right: 5vw;
  -webkit-transform: rotate(305deg); /* Chrome, Safari, Opera */
  -ms-transform: rotate(305deg); /* IE 9 */
  -moz-transform: rotate(305deg); /* Firefox */
  -o-transform: rotate(305deg); /* Opera */
  transform: rotate(305deg);
}

.pointer {
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  position: absolute;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
  background-color: rgb(94, 0, 27);
  display: none;
}

#tl {
  top: 7.45vw;
  left: 29.55vw;
  background-color: rgb(114, 0, 27);
}

#bl {
  bottom: 14vw;
  left: 27.25vw;
}

#b {
  bottom: 10.5vw;
  left: 50%;
  margin-left: -0.5vw;
}

#tr {
  top: 4.8vw;
  right: 24.6vw;
}

#br {
  bottom: 9.95vw;
  right: 23.85vw;
}

#description {
  position: absolute;
  width: 16vw;
  height: 16vw;
  border-radius: 50%;
  left: 50%;
  margin-left: -8vw;
  background-color: rgb(254, 229, 147);
  font-size: 1.3vw;
  padding: 7% 6% 7% 6%;
  transition: 0.8s linear;
  opacity: 0;
}

#description:hover {
opacity: 1;
transition: 0.8s linear;
}

.tab {
  position: absolute;
  width: 60vw;
  height: 90vh;
  background-color: rgba(254, 229, 147, 0.9);
  border-radius: 10vw;
}

#intro {
  top: -90vh;
  left: -60vw;
}

.text > div {
  text-align: justify;
  height: 78vh;
  font-size: 1.2vw;
  margin: 6vh 6vw 6vh 6vw;
  overflow: auto;
  display: flex;
  align-items: center;
}

.text > div::-webkit-scrollbar {
  width: 3%;
  background-color: rgb(254, 229, 147);
}

.text > div::-webkit-scrollbar-thumb {
  background-color: rgb(148, 0, 4);
}

#projects {
  top: -90vh;
  right: -60vw;
}

#projects > div:nth-child(1) {
  text-align: center;
  font-size: 5vh;
  line-height: 5vh;
  margin: 2vh 0 1vh 0;
  max-height: 10vh;
}

#projects > div:nth-child(2) {
  text-align: center;
  margin: 6vh 6vw 6vh 6vw;
  overflow: auto;
  max-height: 70vh;
  font-size: 2.4vh;
  line-height: 3.4vh;
  display: block;
}

#projects > div:nth-child(2)::-webkit-scrollbar {
  width: 3%;
  background-color: rgb(254, 229, 147);
}

#projects > div:nth-child(2)::-webkit-scrollbar-thumb {
  background-color: rgb(148, 0, 4);
}

.icon {
  display: inline-block;
  width: 90%;
  overflow: hidden;
}

.icon > div {
  width: 47%;
  margin: 1% auto;
  display: inline-block;
  vertical-align: middle;
  text-align: justify;
  padding: 0 2% 0 2%;
}

.icon > div:nth-child(1) {
  padding: 0;
}

.icon > div > a > img {
  width: 100%;
  height: auto;
  display: inline-block;
}

.icon > div > h4 {
  font-size: 3vh;
  text-align: center;
  font-family: 'Cinzel', serif;
}

#about {
  bottom: -90vh;
  left: -60vw;
}

#contact {
  bottom: -90vh;
  right: -60vw;
}

#credits {
  position: absolute;
  width: 30vw;
  bottom: 1vw;
  left: 50%;
  font-size: 0.6vw;
  line-height: 0.8vw;
}

#disclaimer {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgb(254, 229, 147);
  padding: 10%;
  overflow: auto;
}

#disclaimer h2 {
  font-size: 10em;
  line-height: 1em;
  text-align: center;
  font-family: 'Cinzel', serif;
  margin-bottom: 10%;
}

#disclaimer p {
  font-size: 5em;
  line-height: 1em;
}

#remover {
  cursor: pointer;
  text-decoration: underline;
}

@media (min-aspect-ratio: 7/5) and
(min-width: 1000px) {
  #disclaimer {
    display: none;
  }
}
