@import 'rules';

* {
  margin: 0;
  padding: 0;
  outline: none;
  @include box-sizing(border-box);
}

*:after, *:before {
  @include box-sizing(border-box);
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
  display: block;
}

html {
  overflow-x: hidden;
}

html, body {
  font-size: 1em;
  font-weight: 400;
  min-height: 100%;
  display: inline-block;
  color: $darkest;
  font-family: $normal;
  top: 0;
}

.clear {
  display: block;
}

.clear::after {
  clear: both;content: ".";
  display: block;
  height: 1px;
  visibility: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.mobile {
  display: none;
}

#background {
  height: auto;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  background: url("http://foodnetwork.sndimg.com/content/dam/images/food/fullset/2010/5/26/2/cw_set-art-multi-cupcakes_s4x3.jpg") center top no-repeat;
  background-size: cover;
  position: fixed;
}

.pad {
  background-color: $light;
  @include border-radius(3vh);
  box-shadow: 0 .5vh 1vh $darkest_shadow;
  text-align: center;
}

#stream {
  width: 80vw;
  margin: 0 10vw 0 10vw;
  position: absolute;
}

#banner {
  width: 100%;
  height: 25vh;
  margin: 2vh 0 4vh 0;
  @include user-select(none);
  cursor: default;
}

#title h1 {
  font-size: 12vh;
  font-family: $title1;
}

#payoff {
  margin-top: -3vh;
}

#payoff h2 {
  font-size: 4vh;
  color: $dark;
  font-family: $title2;
}

#description {
  width: 100%;
  margin: 2vh 0 2vh 0;
  font-size: 2.5vh;
  padding: 5vh 5vw 5vh 5vw;
  vertical-align: middle;
}

#choose_recipe {
  font-family: $title2;
  font-size: 4.5vh;
  position: relative;
  height: 13vh;
  @include user-select(none);
  cursor: pointer;
}

.selector {
  position: absolute;
  font-size: 4.5vh;
  vertical-align: middle;
  width: 50.1%;
  height: 100%;
  display: none;
}

.selector h3 {
  margin-top: 0;
}

#original_selector {
  left: 0;
  border-right: 0.5vw $darkest solid;
}

#new_selector {
  right: 0;
  border-left: 0.51vw $darkest solid;
}

#ingredients {
  display: inline-flex;
  width: 100%;
}

#original {
  margin-right: 2%;
  display: block;
}

#new {
  margin-left: 2%;
  display: block;
}

.tab {
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 48%;
}

.section_header {
  display: block;
  text-align: center;
  font-family: $title2;
  margin-bottom: -2vh;
  @include user-select(none);
  cursor: default;
}

.section_header h3 {
  font-size: 4.5vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

#original_ingredients {
  display: block;
}

.servings {
  margin: 0 auto;
  margin-top: 1vh;
  margin-bottom: 3vh;
  font-size: 3vh;
  text-align: center;
}

.people {
  width: 5vw;
}

input[type=number],
input[type=text],
#units {
  padding: .5vh .5vw .5vh .5vw;
  border: .3vh $medium solid;
  color: $darkest;
  background-color: $lightest;
  height: 4vh;
  font-size: 2vh;
  text-align: center;
  @include placeholder {
    color: $medium;
  };
  @include border-radius(2vh);
  font-family: $normal;
  box-shadow: 0 .5vh 1vh $darkest_shadow;
}

input[type=button] {
  padding: .5vh .5vw .5vh .5vw;
  border: .3vh $darkest solid;
  color: $lightest;
  background-color: $dark;
  width: 4vh;
  height: 4vh;
  font-size: 2vh;
  @include border-radius(50%);
  text-align: center;
  box-shadow: 0 .5vh 1vh $darkest_shadow;
  margin-top: 0;
  @include user-select(none);
  cursor: pointer;
}

input[type=button]:hover {
  box-shadow: none;
  margin-top: .5vh;
}

.insert {
  margin: 1vh 5% 1vh 5%;
  margin-bottom: 3vh;
  font-size: 2vh;
  text-align: center;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 5vh;
}

#empty {
  display: block;
}

#insert form > * {
  display: inline-block;
}

#quantity {
  width: 7vw;
}

#ingredient {
  width: 10vw;
}

#add {
  border: .3vh $lightest solid;
  @include border-radius(50%);
}

.ingredients_list {
  margin: 0 auto;
  margin-top: 3vh;
  margin-bottom: 2vh;
  font-size: 2vh;
  text-align: center;
  min-height: 6.5vh;
}

.single_ingredient {
  margin: 0 auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding: .5vh .5vw .5vh .5vw;
  border: .3vh $medium solid;
  color: $darkest;
  background-color: $lightest;
  font-size: 2.5vh;
  width: 90%;
  height: 6.5vh;
  vertical-align: middle;
  line-height: 5vh;
  @include border-radius(6.5vh/2);
  box-shadow: 0 .5vh 1vh $darkest_shadow;
  position: relative;
}

.remove {
  right: .5vw;
  top: .75vh;
  position: absolute;
}

.new_ingredient {
  line-height: 5vh;
}

.error {
  margin: 0 auto;
  margin: 0 auto;
  margin-top: 3vh;
  margin-bottom: 2vh;
  font-size: 2vh;
  width: 90%;
  height: 6.5vh;
  vertical-align: middle;
  text-align: center;
  border: .3vh $medium solid;
  color: red;
  background-color: $lightest;
  line-height: 5.5vh;
  @include border-radius(6.5vh/2);
  box-shadow: 0 .5vh 1vh $darkest_shadow;
}
