@import 'rules';

.mobile {
  display: block;
}

#stream {
  width: 95vw;
  margin: 0 2.5vw 0 2.5vw;
}

#banner {
  margin: 2vh 0 2vh 0;
}

#description {
  font-size: 3.5vh;
}

#ingredients {
  display: block;
  width: 100%;
}

#original {
  margin-right: 0;
  display: block;
}

#new {
  margin-left: 0;
  display: none;
}

.tab {
  width: 100%;
  padding-bottom: 1vh;
}

input[type=number],
input[type=text],
#units {
  height: 6vh;
  font-size: 2.5vh;
  @include border-radius(3vh);
}

input[type=button] {
  width: 6vh;
  height: 6vh;
  font-size: 4vh;
  @include border-radius(50%);
}

.people {
  width: 10vw;
}

.insert {
  min-height: 7vh;
}

#empty {
  display: none;
}

#quantity {
  width: 20vw;
}

#ingredient {
  width: 30vw;
}

.ingredients_list {
  font-size: 3vh;
  min-height: 8vh;
}

.single_ingredient {
  font-size: 3vh;
  height: 8vh;
  line-height: 7vh;
  @include border-radius(8vh/2);
}

.remove {
  right: 1vw;
  top: .5vh;
}

.error {
  font-size: 2.5vh;
  height: 8vh;
  line-height: 8vh;
  @include border-radius(8vh/2);
}
