body {
  background-color: #1d1f23;
  background-image: url('../images/background.jpg');
  background-position: top;
  background-size: cover;
  color: #fff;
  overflow: hidden;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
p,
blockquote {
  color: #fff;
}

blockquote {
  border-left-color: #fff;
}

a {
  color: inherit;
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  color: inherit;
}
